*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    --bg-color: #121212;
    --bg-button-color: #1a1a1a;
    --bg-task-color: #2a2a2a;
    --primary-text-color: #f4f4f4;
    --delete-button-color: #d31a1a;

    /* padding variables */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:20px;
    --padding-xxl:25px;

    /* border-radius variables */
    --border-radius-s: 4px;
    --border-radius-m: 6px;
    --border-radius-l: 8px;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav{
    padding: var(--nav-padding);
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav button{
    padding: var(--padding-m);
    background-color: var(--bg-button-color);
    border: none;
    color: var(--primary-text-color);
    cursor: pointer;
}

section{
    padding : var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: var(--padding-xxl);
}

section .task-column{
    flex-grow: 1;
    background-color: var(--bg-button-color);
    margin: var(--padding-m);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    transition: all 0.7s cubic-bezier(0.19, 1.0, 0.22, 1.0);
    
}

section .task-column.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}

section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .task-column .task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
     border-radius: var(--border-radius-m);
     cursor: grab ;
}

section .task-column .task button{
    align-self: flex-end;
    border: none;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    outline: none;
    background-color: var(--delete-button-color);
    color: var(--primary-text-color);
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active{
    display: flex;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 61, 61, 0.404);
    backdrop-filter:  blur(5px);
}
.modal .center{
    background-color: var(--bg-button-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    z-index: 10;
}

.modal .center input, modal .center textarea, .modal .center select{
    background-color: var(--bg-task-color);
    border: 1px solid var(--border-color);
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-s);
    border-radius: var(--border-radius-s);
}

.modal .center button{
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-m);
    width: fit-content;
    align-self: center;
}